In [15]:
import pandas as pd

# Save DataFrames to parquet
raw_data.to_parquet(r"C:\Users\flags\OneDrive\Desktop\DSA 2040 MID-SEM\Loaded\full_data.parquet")
inc_data.to_parquet(r"C:\Users\flags\OneDrive\Desktop\DSA 2040 MID-SEM\Loaded\incremental_data.parquet")

# Verify loading
print(pd.read_parquet(r"C:\Users\flags\OneDrive\Desktop\DSA 2040 MID-SEM\Loaded\full_data.parquet").head())

   order_id customer_name product  quantity  unit_price  order_date region  \
0         1         Diana  Tablet       2.0       500.0  2024-01-20  South
1         2           Eve  Laptop       2.0       500.0  2024-04-29  North
2         3       Charlie  Laptop       2.0       250.0  2024-01-08  South
3         4           Eve  Laptop       2.0       750.0  2024-01-07   West
4         5           Eve  Tablet       3.0       500.0  2024-03-07  South

   total_price
0       1000.0
1       1000.0
2        500.0
3       1500.0
4       1500.0